* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
}

.navbar {
    background-color: #e53939;
    padding: 1rem 2rem;
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    min-height: 5rem;
}

.headLine{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
.avatar{
    height: 2rem;
    width: auto;
}

.navMenu {
    display: flex;
    align-items: center;
    gap: 2rem;
}
.imageText{
    display: none;
}

@media screen and (max-width: 780px){
    .navbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    .hamburger {
        display: block;
        cursor: pointer;
    }

    .bar {
        background-color: #ffffff;
        width: 20px;
        height: 3px;
        display: block;
        margin: 5px;
        -webkit-transition: 0.3s ease-in-out;
        transition: 0.3s ease-in-out;
    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .navMenu{
        position: absolute;
        flex-direction: column;
        gap: 0;
        top: 70px;
        left: -100%;
        text-align: center;
        width: 100%;
        transition: 0.7s ease-in-out;
        background-color: #ffffff;
        padding: 10px;
    }

    .navMenu.active{
        left: 0;
    }

    .navMenu li {
        margin: 16px 0;
    }
    .imageText{
        color: black;
        display: flex;
    }
}